.gradle
build
**/build
contacts-backend/**/build
contacts-backend/db_data
contacts-backend/icons
.git

contacts-frontend-js/node_modules
contacts-frontend-js/dist
contacts-frontend-js/.git
contacts-frontend-js/.env
contacts-frontend-js/.env.*
contacts-frontend-js/.idea
contacts-frontend-js/.vscode
contacts-frontend-js/*.log
contacts-frontend-js/coverage